<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{tag.Display}} - rimgo</title>

  {{> partials/head }}
  <link href="/t/{{tag.Tag}}.rss" rel="alternate" title={{tag.Display}} type="application/rss+xml"
  <link href="/t/{{tag.Tag}}.atom" rel="alternate" title={{tag.Display}} type="application/atom+xml">
  <link href="/t/{{tag.Tag}}.json" rel="alternate" title={{tag.Display}} type="application/feed+json">
</head>

<body class="font-sans text-lg bg-slate-800 text-white">
  {{> partials/nav }}

  <section class="my-4 w-full flex flex-col items-center">
    {{> partials/searchBar }}
  </section>

  <header class="p-4 rounded-xl text-white mb-4" style="background-image: url('{{tag.Background}}');">
    <div class="flex flex-col items-center justify-center text-center">
      <div class="flex gap-2 items-center">
        <h2 class="text-2xl font-bold">{{tag.Display}}</h2>
        <a href="/t/{{tag.Tag}}.rss" label="RSS">
          <img src="/static/icons/PhRss.svg" width="24px" height="24px" class="invert" />
        </a>
      </div>
      <p>{{tag.PostCount}} posts</p>
    </div>
    <div class="flex flex-col">
      {{#equal tag.Sort "popular"}}
      <a href="?sort=popular"><b>Popular</b></a>
      <a href="?sort=newest">Newest</a>
      <a href="?sort=best">Best</a>
      {{/equal}}
      {{#equal tag.Sort "newest"}}
      <a href="?sort=popular">Popular</a>
      <a href="?sort=newest"><b>Newest</b></a>
      <a href="?sort=best">Best</a>
      {{/equal}}
      {{#equal tag.Sort "best"}}
      <a href="?sort=popular">Popular</a>
      <a href="?sort=newest">Newest</a>
      <a href="?sort=best"><b>Best</b></a>
      {{/equal}}
    </div>
  </header>

  <main>
    <div class="posts">
      {{#each tag.Posts}}
      {{> partials/post }}
      {{/each}}
    </div>

    <div class="flex justify-between mt-4 font-bold">
      {{#noteq page "1"}}
      <a href="{{channel.RelUrl}}?page={{prevPage}}">Previous page</a>
      {{/noteq}}
      <p>Page {{nextPage}}</p>
      <a href="{{channel.RelUrl}}?page={{nextPage}}">Next page</a>
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>