<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{user.Username}} - rimgo</title>

  {{> partials/head }}
  <link href="/user/{{user.Username}}.rss" rel="alternate" title={{user.Username}} type="application/rss+xml">
  <link href="/user/{{user.Username}}.atom" rel="alternate" title={{user.Username}} type="application/atom+xml">
  <link href="/user/{{user.Username}}.json" rel="alternate" title={{user.Username}} type="application/feed+json">
</head>

<body class="font-sans text-lg bg-slate-800 text-white">
  {{> partials/nav }}

  <section class="my-4 w-full flex flex-col items-center">
    {{> partials/searchBar }}
  </section>
  
  <header class="p-4 rounded-xl text-white mb-4" style="background-image: url('{{user.Cover}}');">
    <div class="flex flex-col sm:flex-row items-center gap-2">
      <img class="rounded-full" src="{{user.Avatar}}" width="72" height="72">
      <div class="items-center sm:items-start text-center sm:text-left">
        <div class="flex flex-row gap-2 items-center">
          <h2 class="font-bold text-2xl">{{user.Username}}</h2>
          <a href="/user/{{user.Username}}.rss" label="RSS">
            <img src="/static/icons/PhRss.svg" width="24px" height="24px" class="invert" />
          </a>
        </div>
        <p>{{user.Points}} pts · {{user.CreatedAt}}</p>
      </div>
      <hr class="sm:border-0 flex-grow">
      <div class="flex flex-col items-center sm:items-end">
        <a href="/user/{{user.Username}}"><b>Submissions</b></a>
        <a href="/user/{{user.Username}}/favorites">Favorites</a>
        <a href="/user/{{user.Username}}/comments">Comments</a>
      </div>
    </div>
    <p class="mt-2">{{user.Bio}}</p>
  </header>

  <main>
    <div class="posts">
      {{#each submissions}}
      {{> partials/post }}
      {{/each}}
    </div>

    <div class="mt-4 font-bold">
      {{#equal page "0" }}
      {{else}}
      <a href="{{channel.RelUrl}}?page={{prevPage}}">Previous page</a>
      {{/equal}}
      <a href="{{channel.RelUrl}}?page={{nextPage}}">Next page</a>
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>